<!doctype html>
<html lang="en">
<head>
<title>Happy Job | Admin List</title>
<style type="text/css">
input, select {
	min-height: 50px;
	margin-top: 10px;
}
</style>
</head>
<body>
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed">
		<aside class="left-sidebar">
			<div>
				<th:block th:insert="Admin/sidebar.html"></th:block>
			</div>
		</aside>

		<div class="body-wrapper">
			<div>
				<th:block th:insert="Admin/header.html"></th:block>
			</div>
			<div class="container-fluid">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Admin Details</h5>
						<div class="table-responsive">
							<table class="table text-nowrap align-middle mb-0">
								<thead>
									<tr class="border-2 border-bottom border-primary border-0">
										<th scope="col" class="text-center">ID</th>
										<th scope="col" class="text-center">Profile Picture</th>
										<th scope="col" class="text-center">FullName</th>
										<th scope="col" class="text-center">EmailAddress</th>
										<th scope="col" class="text-center">Action</th>
									</tr>
								</thead>
								<tbody class="table-group-divider">
									<tr th:each="a: ${AdminList}">
										<td class="text-center fw-medium" th:text="${a.id}">Page
											Value</td>
										<td class="text-center fw-medium">
											<img th:src="@{/Photo/{img}(img=${a.profilePic})}" height="50" width="50"></td>
										<td class="text-center fw-medium" th:text="${a.fullName}">Page
											Value</td>
										<td class="text-center fw-medium" th:text="${a.email}">Page
											Value</td>
										
										<td class="text-center fw-medium" >
                                        <a th:href="@{/delete(id=${a.id})}"><button class="btn btn-info btn-sm ">Delete</button></a>
										</td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="py-6 px-6 text-center">
					<th:block th:insert="Admin/footer.html"></th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
