
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/dashboard" class="text-nowrap logo-img">
            <img src="assets/img/logo/lofo.png" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
  <ul id="sidebarnav">
    <!-- Home Section -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
      <span class="hide-menu">Home</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/dashboard" aria-expanded="false">
        <span>
          <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">Dashboard</span>
      </a>
    </li>

    <!-- Job Section -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
      <span class="hide-menu">Job</span>
    </li>
   <li class="sidebar-item">
      <a class="sidebar-link" href="/addJobs" aria-expanded="false">
        <span>
          <iconify-icon icon="mdi:briefcase-plus-outline" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">Add New Job</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/adminjobview" aria-expanded="false">
        <span>
          <iconify-icon icon="mdi:briefcase-search-outline" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">View Job</span>
      </a>
    </li>



    <!-- Applicant Section -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
      <span class="hide-menu">Applicant</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/allApplicant" aria-expanded="false">
        <span>
          <iconify-icon icon="solar:users-group-rounded-bold-duotone" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">View Application</span>
      </a>
    </li>

    <!-- Contact Section -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
      <span class="hide-menu">Contact</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/contactview" aria-expanded="false">
        <span>
          <iconify-icon icon="solar:chat-dots-bold-duotone" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">View User Message</span>
      </a>
    </li>

    <!-- Admin Section -->
    <li class="nav-small-cap">
      <i class="ti ti-dots nav-small-cap-icon fs-6"></i>
      <span class="hide-menu">Admin</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/register" aria-expanded="false">
        <span>
           <iconify-icon icon="mdi:account-plus-outline" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">Add Admin</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/adminList" aria-expanded="false">
        <span>
          <iconify-icon icon="solar:user-check-bold-duotone" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">View Admin</span>
      </a>
    </li>

    <!-- Extra Section -->
    <li class="nav-small-cap">
      <span class="hide-menu">Extra</span>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/logout" aria-expanded="false">
        <span>
           <iconify-icon icon="mdi:logout" class="fs-6"></iconify-icon>
        </span>
        <span class="hide-menu">Logout</span>
      </a>
    </li>
  </ul>
</nav>
        