<!doctype html>
<html class="no-js" lang="zxx">
    <head>
    <title>Happy Job | Job Details</title>
    
   </head>

   <body>
   
   <th:block th:insert="_header.html"></th:block>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/Photo/detailscover.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>[[${jobDetails.title}]]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                         <a><img th:src="@{'/uploads/photos/' + ${jobDetails.logiUrl}}" alt="" style="max-width: 100px;"></a>                        </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>[[${jobDetails.title}]]</h4>
                                    </a>
                                    <ul>
                                        <li>[[${jobDetails.category}]]</li>
                                        <li><i class="fas fa-map-marker-alt"></i>[[${jobDetails.location}]]</li>
                                        <li>[[${jobDetails.salary}]]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>[[${jobDetails.jobDescription}]]</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li>[[${jobDetails.requiredSkills}]]</li>
                                   
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Education + Experience</h4>
                                </div>
                               <ul>
                                   <li>[[${jobDetails.educationandExperience}]]</li>
                                   
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span><time class="timeago" th:datetime="${jobDetails.postedDate}"></time></span></li>
                              <li>Location : <span>[[${jobDetails.location}]]</span></li>
                              <li>Vacancy : <span>[[${jobDetails.vacancyNo}]]</span></li>
                              <li>Job nature : <span>[[${jobDetails.jobNature}]]</span></li>
                              <li>Salary :  <span>[[${jobDetails.salary}]]</span></li>
                              <li>Application date : <span>[[${jobDetails.lastDate}]]</span></li>
                          </ul>
                         <div class="apply-btn2">
                            <a th:href="@{/apply(id=${jobDetails.id})}" class="btn">Apply Now</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>[[${jobDetails.companyName}]]</span>
                              <p>[[${jobDetails.companyDescription}]]</p>
                            <ul>
                                <li>Name: <span>[[${jobDetails.companyName}]] </span></li>
                                <li>Web : <span>[[${jobDetails.companyWebsite}]]</span></li>
                                <li>Email: <span>[[${jobDetails.compayeEmail}]]</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
       
      <th:block th:insert="_footer.html"></th:block> 
      <script src="/assets/js/jquery-3.7.1.min.js"></script>
     <script src="/assets/js/jquery.timeago.js"></script>
     <script>
     jQuery(document).ready(function() {
    	  jQuery("time.timeago").timeago();
    	});
     </script>
    </body>
</html>