<!doctype html>
<html class="no-js" lang="zxx">
<head>
<title>Happy Job | Vacancy</title>
</head>

<style>
.single-job-items {
	border: 1px solid #e83e8c;
	border-radius: 10px;
}

.this-search {
	margin-top: 80px;
}

.search-with {
	max-width: 800px;
	margin: auto;
}
</style>
<body>

	<th:block th:insert="_header.html"></th:block>
	<main>

		<!-- Hero Area Start-->
		<div class="slider-area ">
			<div
				class="single-slider section-overly slider-height2 d-flex align-items-center"
				data-background="/Photo/janki.jpeg">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap text-center">
								<h2>Get your job</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero Area End -->
		<div class="this-search">
			<form action="/search" class="search-box search-with"
				id="jobSearchForm">
				<div class="input-form">
					<input type="text" placeholder="Job Tittle or keyword" name="title">
				</div>
				<div class="select-form">
					<div class="select-itms">
						<select name="location" id="select1">
							<option value="">Any Where</option>
							<option value="janakpur">Janakpur</option>
							<option value="kathmandu">Kathmandu</option>
							<option value="pokhara">Pokhara</option>
							<option value="biratnagar">Biratnagar</option>
						</select>
					</div>
				</div>
				<div class="search-form">
					<a href="#" id="findJobButton">Find Job</a>
				</div>
			</form>

		</div>
		<!-- Job List Area Start -->
		<div class="job-listing-area pt-120 pb-120">
			<div class="container">
				<div class="row">
					<!-- Left content -->
					<div class="col-xl-3 col-lg-3 col-md-4">
						<div class="row">
							<div class="col-12">
								<div class="small-section-tittle2 mb-45">
									<div class="ion">
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="20px"
											height="12px">
                                    <path fill-rule="evenodd"
												fill="rgb(27, 207, 107)"
												d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                    </svg>
									</div>
									<h4>Filter Jobs</h4>
								</div>
							</div>
						</div>
						<!-- Job Category Listing start -->
						<div class="job-category-listing mb-50">
							<!-- single one -->
							<div class="single-listing">
								<div class="small-section-tittle2">
									<h4>Job Category</h4>
								</div>
								<!-- Select job items start -->
								<div class="select-job-items2">
									<select name="select">
										<option value="">All Category</option>
										<option value="Design & Creative">Design & Creative</option>
										<option value="Design & Development">Design &
											Development</option>
										<option value="Sales & Marketing">Sales & Marketing</option>
										<option value="Mobile Application">Mobile Application
										</option>
										<option value="Construction">Construction</option>
										<option value="Information Technology">Information
											Technology</option>
										<option value="Real Estate">Real Estate</option>
										<option value="Content Writer">Content Writer</option>
										<option value="Health and Mediacl">Health and Medical</option>
									</select>
								</div>
								<!--  Select job items End-->
								<!-- select-Categories start -->
								<div class="select-Categories pt-80 pb-50">
									<div class="small-section-tittle2">
										<h4>Job Type</h4>
									</div>
									<label class="container">Full Time <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">Part Time <input
										type="checkbox" checked="checked active"> <span
										class="checkmark"></span>
									</label> <label class="container">Remote <input type="checkbox">
										<span class="checkmark"></span>
									</label> <label class="container">Freelance <input
										type="checkbox"> <span class="checkmark"></span>
									</label>
								</div>
								<!-- select-Categories End -->
							</div>
							<!-- single two -->
							<div class="single-listing">
								<div class="small-section-tittle2">
									<h4>Job Location</h4>
								</div>
								<!-- Select job items start -->
								<div class="select-job-items2">
									<select name="select">
										<option value="">Anywhere</option>
										<option value="">Janakpur</option>
										<option value="">Pokhara</option>
										<option value="">Kathmandu</option>
										<option value="">Biratnagar</option>

									</select>
								</div>
								<!--  Select job items End-->
								<!-- select-Categories start -->
								<div class="select-Categories pt-80 pb-50">
									<div class="small-section-tittle2">
										<h4>Experience</h4>
									</div>
									<label class="container">1-2 Years <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">2-3 Years <input
										type="checkbox" checked="checked active"> <span
										class="checkmark"></span>
									</label> <label class="container">3-6 Years <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">6-more.. <input
										type="checkbox"> <span class="checkmark"></span>
									</label>
								</div>
								<!-- select-Categories End -->
							</div>
							<!-- single three -->
							<div class="single-listing">
								<!-- select-Categories start -->
								<div class="select-Categories pb-50">
									<div class="small-section-tittle2">
										<h4>Posted Within</h4>
									</div>
									<label class="container">Any <input type="checkbox">
										<span class="checkmark"></span>
									</label> <label class="container">Today <input type="checkbox"
										checked="checked active"> <span class="checkmark"></span>
									</label> <label class="container">Last 2 days <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">Last 3 days <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">Last 5 days <input
										type="checkbox"> <span class="checkmark"></span>
									</label> <label class="container">Last 10 days <input
										type="checkbox"> <span class="checkmark"></span>
									</label>
								</div>
								<!-- select-Categories End -->
							</div>
							<div class="single-listing">
								<!-- Range Slider Start -->

								<!-- Range Slider End -->
							</div>
						</div>
						<!-- Job Category Listing End -->
					</div>
					<!-- Right content -->
					<div class="col-xl-9 col-lg-9 col-md-8">
						<!-- Featured_job_start -->
						<section class="featured-job-area">
							<div class="container">
								<!-- Count of Job list Start -->
								<div class="row">
									<div class="col-lg-12">
										<div class="count-job mb-35">
											<span th:text="${VacancyList.size()} + ' Jobs found'"></span>

											<!-- Select job items start -->
											<div class="select-job-items">
												<span>Sort by</span> <select name="sort" id="sort-select"
													class="form-control">
													<option value="none">None</option>
													<option value="date">Date Posted</option>
													<option value="salary">Salary</option>
													<option value="relevance">Relevance</option>
													<option value="title">Job Title</option>
												</select>
											</div>

											<!--  Select job items End-->
										</div>
									</div>
								</div>
								<!-- Count of Job list End -->

								<div class="single-job-items mb-30"
									th:if="${#lists.isEmpty(VacancyList)}">
									<div class="job-items">

										<div class="job-tittle job-tittle2">
											<a>
												<h4>
													No vacancies available. <span
														th:if="${location != null and location != ''}"
														th:text="${location}" style="color: red;"></span> <span
														th:if="${keyword != null and keyword != ''}">for "<span
														th:text="${keyword}" style="color: green;"></span>"
													</span>
												</h4>

											</a>
										</div>
									</div>


								</div>

								<!-- single-job-content -->
								<div class="single-job-items mb-30" th:each="v : ${VacancyList}">


									<div class="job-items">
										<div class="company-img">
											<a th:href="@{/jobDetails(id=${v.id})}"><img
												th:src="@{'/Photo/' + ${v.logiUrl}}" alt=""
												style="max-width: 100px;"></a>
										</div>

										<div class="job-tittle job-tittle2">
											<a th:href="@{/jobDetails(id=${v.id})}">
												<h4>[[${v.title}]]</h4>
											</a>
											<ul>
												<li>[[${v.category}]]</li>
												<li><i class="fas fa-map-marker-alt"></i>[[${v.location}]]</li>
												<li>[[${v.salary}]]</li>
											</ul>
										</div>
									</div>
									<div class="items-link items-link2 f-right">
										<a th:href="@{/jobDetails(id=${v.id})}">[[${v.jobNature}]]</a>

										<span><time class="timeago"
												th:datetime="${v.postedDate}"></time></span>

									</div>

								</div>
							</div>
						</section>
						<!-- Featured_job_end -->
					</div>
				</div>
			</div>
		</div>
		<!-- Job List Area End -->
		<!--Pagination Start  -->
		<div class="pagination-area pb-115 text-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="single-wrap d-flex justify-content-center">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-start">
									<li class="page-item active"><a class="page-link" href="#">01</a></li>
									<li class="page-item"><a class="page-link" href="#">02</a></li>
									<li class="page-item"><a class="page-link" href="#">03</a></li>
									<li class="page-item"><a class="page-link" href="#"><span
											class="ti-angle-right"></span></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Pagination End  -->

	</main>

	<script type="text/javascript">
		document.getElementById('findJobButton').addEventListener('click',
				function(event) {
					event.preventDefault(); // Prevent the default anchor behavior
					document.getElementById('jobSearchForm').submit(); // Submit the form
				});
	</script>

	<th:block th:insert="_footer.html"></th:block>
	<script src="/assets/js/jquery-3.7.1.min.js"></script>
	<script src="/assets/js/jquery.timeago.js"></script>

	<script>
		jQuery(document).ready(function() {
			jQuery("time.timeago").timeago();
		});
	</script>

</body>
</html>